<nav>
    <div class="logo">
      <img src="">
      <a id="logoDocs" href="">Docs</a>
    </div>
      <ul class="nav-links">
        <li class="link"><a href="#main">Inicio</a></li>
        <li class="link"><a href="#desenhos">Documentos</a></li>
        <li class="link"><a href="#mapa">Mapa</a></li>
        <li class="link"><a href="#infos">Informações</a></li>
      </ul>
      <button id="sair"><a href="/login/index">Sair</a></button>
      <button id="menuButton" onclick="openMenu()">
        <i class='bx bx-menu'></i>
      </button>
  </nav>